{{ partial "header.html" . }}

{{ partial "post.html" . }}

<div class="post-entry">
    <p>
        Thanks for reading! Feel free to <a href='mailto:contactme@robertbasic.com'>send me an email</a> if you have any comments, questions, or just want to chat about <a href='/tags/php'>PHP</a>, <a href='/tags/vim'>Vim</a>, <a href='/categories/programming'>Programming</a> in general, or whatever else. I'd like to hear from you!
    </p>
    <p>
        If you require help on a PHP project of any kind, <a href="/#hire-me" class='btn btn-sm btn-success hire-me-button'>let's talk!</a>
    </p>
    <p>
    By the way, I started a series of <a href='https://www.youtube.com/playlist?list=PLYOhkLo-APig5oBy6FX4R03eVqzcpa-BP'>screencasts about open source contributions</a>, any feedback appreciated!
    </p>

    {{ partial "recent-posts.html" .Site.Pages }}
</div>

{{ partial "footer.html" . }}
