{{ partial "header.html" . }}

{{ partial "post.html" . }}

<div class="post-entry">
    <p>
        Thanks for reading! Feel free to <a href='mailto:contactme@robertbasic.com'>send me an email</a> if you have any comments, questions, or just want to chat about <a href='/tags/php'>PHP</a>, <a href='/tags/vim'>Vim</a>, <a href='/categories/programming'>Programming</a> in general, or whatever else. I'd like to hear from you!
    </p>
    <p>
        If you require help on a PHP project of any kind, <a href="/#hire-me" class='btn btn-sm btn-success hire-me-button'>let's talk!</a>
    </p>
    <p>
        By the way, I'm doing a series of <a href='https://www.youtube.com/playlist?list=PLYOhkLo-APig5oBy6FX4R03eVqzcpa-BP'>screencasts about open source contributions</a>, any feedback appreciated!
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <p>
            To get notified when I write a new blog post or make a new screencast, subscribe:
        </p>
        <form action="//robertbasic.us15.list-manage.com/subscribe/post?u=d2eed2984acf022028796066a&amp;id=07905c1b37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

                <div class="mc-field-group form-group form-group-sm">
                    <label for="mce-EMAIL" class='col-sm-2 control-label'>Email </label>
                    <div class='col-sm-10'>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                </div>
                <div class="mc-field-group form-group">
                    <label for="mce-FNAME" class='col-sm-2 control-label'>Name </label>
                    <div class='col-sm-10'>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                    </div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d2eed2984acf022028796066a_07905c1b37" tabindex="-1" value=""></div>
                <div class="clear form-group">
                    <div class='col-sm-offset-2 col-sm-10'>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                    </div>
                </div>

            </div>
        </form>
    </div>

    <!--End mc_embed_signup-->

    {{ partial "recent-posts.html" .Site.Pages }}
</div>

{{ partial "footer.html" . }}
