{{ partial "header.html" . }}

<section class="section content">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">


                {{ partial "post.html" . }}

                <div class="post-entry">
                    <p>
                        Thanks for reading! I would like to help you make your web application better, <a href="/#hire-me" class='button is-link hire-me-button'>so let's talk.</a>
                    </p>

                    {{ partial "recent-posts.html" (where .Site.Pages "Section" "blog") }}
                </div>
            </div>

            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
