            </div>

            <div id="right" class="col-md-4">

                <div id="sidebar">

                    <div id="about">
                        <img src="/img/robertbasic.jpg" alt="Robert Basic" />

                        <h4><a href="http://robertbasic.com/">Robert Basic</a></h4>

                        <p>Senior software engineer, business owner, open source contributor.</p>
                    </div>

                    <h2>RSS</h2>
                    <ul>
                        <li>
                            <a href="http://feeds2.feedburner.com/robertbasic/blog/">Get the feed</a>
                        </li>
                    </ul>
                    {{ partial "recent-posts.html" .Site.Pages }}
                    {{ partial "tag-cloud.html" . }}
                    {{ partial "categories.html" . }}
                    {{ partial "archives.html" .Site.Pages }}
                </div>

            </div>

            <div id="footer" class="col-md-12">

                <a href="http://robertbasic.com">Robert Basic</a> &copy; 2008 &#151; {{ .Now.Year }}

                <br>

                <a href="http://feeds2.feedburner.com/robertbasic/blog/">Get the feed</a>

            </div>

        </div>

    </body>
</html>
