<section class="section">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item is-size-1-desktop is-size-4-touch" href="/">
                    Robert Basic
                </a>
                <div class="navbar-burger burger" data-target="navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbar" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-size-4-desktop is-size-6-touch" href="/">
                        Home
                    </a>
                    <a class="navbar-item is-size-4-desktop is-size-6-touch" href="/blog">
                        Blog
                    </a>
                    <a class="navbar-item is-size-4-desktop is-size-6-touch" href="/talks">
                        Talks
                    </a>
                    <a class="navbar-item is-size-4-desktop is-size-6-touch" href="/index.xml">
                        RSS
                    </a>
                </div>
            </div>
        </div>
    </nav>
</section>
