{{ $cp := .Paginator.PageNumber }}
{{ $cu := .URL }}
{{ if lt $cp 4 }}
    {{ $.Scratch.Set "p" (first 5 .Paginator.Pagers) }}
    {{ $.Scratch.Set "first" true }}
    {{ $.Scratch.Set "last" false }}
{{ else if gt $cp (sub .Paginator.TotalPages 2) }}
    {{ $.Scratch.Set "p" (last 5 .Paginator.Pagers) }}
    {{ $.Scratch.Set "first" false }}
    {{ $.Scratch.Set "last" true }}
{{ else }}
    {{ $.Scratch.Set "p" (first 5 (after (sub $cp 3) .Paginator.Pagers)) }}
    {{ $.Scratch.Set "first" false }}
    {{ $.Scratch.Set "last" false }}
{{ end }}

<div class="navigation">
    {{ if .Paginator.HasPrev }}
        <a href="{{ $cu }}/page/{{ sub $cp 1 }}/"> Prev </a>
    {{ end }}

    {{ if (not ($.Scratch.Get "first")) }}
        <a href="{{ $cu }}" {{ if eq $cp 1 }}class="current"{{ end }}> 1 </a> <span>...</span>
    {{ end }}

    {{ range $.Scratch.Get "p" }}
        <a href="{{ $cu }}/page/{{ .PageNumber }}/" {{ if eq $cp .PageNumber }}class="current"{{ end }}> {{ .PageNumber }} </a>
    {{ end }}

    {{ if (not ($.Scratch.Get "last")) }}
        <span>...</span> <a href="{{ $cu }}/page/{{ .Paginator.TotalPages }}/" {{ if eq $cp .Paginator.TotalPages }}class="current"{{ end }}> {{ .Paginator.TotalPages }} </a>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <a href="{{ $cu }}/page/{{ add $cp 1 }}/"> Next </a>
    {{ end }}
</div>
