<div class="post">

    <h1 class="no-bottom-margin">
        <a title="{{ .Title }}" href="{{ .Permalink }}" rel="bookmark">
            {{ .Title }}
        </a>
    </h1>

    <div class="entry_details">
        by Robert Basic on {{ .Date.Format "January 02, 2006." }}
    </div>

    <div class="entry">
        {{ if lt .Date ($.Now.AddDate -2 0 0) }}
        <div class="old_entry_warn">
        <strong>Heads-up!</strong> You're reading an old post and the information in it is quite probably outdated.
        </div>
        {{ end }}

        {{ .Content }}
    </div>

    <div class="entry_details no-bottom-border no-bottom-margin">
        {{ with .Params.tags }}
        {{/*not sure why it doesn't work without the (sort .) part */}}
        Tags: {{ delimit (apply (apply (sort .) "partial" "tag" ".") "chomp" ".") ", " }}.<br>
        {{ end }}
        {{ with .Params.categories }}
        Categories: {{ delimit (apply (apply (sort .) "partial" "category" ".") "chomp" ".") ", " }}.<br>
        {{ end }}
    </div>

</div>
