<div class="box has-text-centered is-marginless">
    <img src="/img/robertbasic.jpg" alt="Robert Basic" />

    <h4>
        <a href="https://robertbasic.com/">Robert Basic</a>
    </h4>
    <p>
        Software developer making web applications better.
    </p>
</div>

<div class="box has-text-centered is-marginless">
    <h2>
        Let's work together!
    </h2>
    <p>
        I would like to help you <a href="/#hire-me">make your web application better</a>.
    </p>
</div>

{{ partial "recent-posts.html" .Site.Pages }}

{{ partial "tag-cloud.html" . }}
{{ partial "categories.html" . }}

{{ partial "archives.html" .Site.RegularPages }}
