{{ partial "header.html" . }}

<h1>Hello!</h1>

<p>
I'm Robert, running my own little business <a href="http://hex.rs/">Hex</a>, since June 2011.
Working with PHP, Python and <a href='https://github.com/robertbasic'>contributing</a> to open source projects.
</p>

<p>
<a href="/blog">My blog</a> has a bit more content than this page.
</p>

<h1>Contact</h1>

<p>
If You have any questions for me, if You're interested in hiring me for some work,
or just want to chat, please find my contact details below:
</p>

<dl id="my_contact">
    <dt>Name:</dt>
    <dd>Robert Basic</dd>
    <dt>E-mail:</dt>
    <dd>contactme &#151; at &#151; robertbasic &#151; dot &#151; com</dd>
    <dt>Github:</dt>
    <dd><a href="https://github.com/robertbasic">View my profile</a></dd>
    <dt>Twitter:</dt>
    <dd><a href="http://twitter.com/robertbasic">Follow me</a></dd>
    <dt>LinkedIn:</dt>
    <dd><a href="http://www.linkedin.com/in/robertbasic">View my profile</a></dd>
</dl>

{{ partial "footer.html" . }}
