{{ partial "header.html" . }}

<section class="section content">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">

                <h1>Hi!</h1>

                <p>
                I'm Robert, a software developer making web applications better. Nice to meet you.
                </p>

                <p>
                I can help you with:
                </p>

                <ol>
                    <li>Modernizing web applications,</li>
                    <li>Introducing and improving automated tests,</li>
                    <li>Code reviews,</li>
                    <li>Mentoring development teams,</li>
                    <li>Improving performance of web applications.</li>
                </ol>

                <h4>Modernizing web applications</h4>

                <p>
                    A modern web application supports your business in its success. Following current best practices we can react to market changes in time. By improving your application we deliver more value, while reducing cost.
                </p>

                <h4>Introducing and improving automated tests</h4>

                <p>
                    To improve the quality of your application, we introduce automated tests. Unit, integration, and end-to-end tests replace manual testing. They increase the confidence in the application by reducing the number of defects.
                </p>

                <h4>Code reviews</h4>

                <p>
                    With code reviews we make sure that we build the right features the right way. It is an integral part of the software development process. Programmers give and receive feedback on their code improving it along the way.
                </p>

                <h4>Mentoring development teams</h4>

                <p>
                    Mentoring your development team on how to write good web applications is the quickest way to improvement. Enabling others to do great work is rewarding. Working together every day, through talks and workshops I pass on my knowledge.
                </p>

                <h4>Improving performance of web applications</h4>

                <p>
                    A fast web application has good user experience. It reduces costs. It increases revenue.
                </p>

                <h2 id="hire-me">Let's work together</h2>

                <p>
                    I would love to help make your web application better. You can contact me by sending a message to <a href="mailto:contactme@robertbasic.com">contactme@robertbasic.com</a>, on <a href="http://www.linkedin.com/in/robertbasic">LinkedIn</a>, or on <a href="http://twitter.com/robertbasic">Twitter</a>.
                </p>

                <p>
                    On my <a href="/blog">blog</a> you can read what I'm learning, experimenting with and thinking. See my open source contributions on <a href="https://github.com/robertbasic">GitHub</a>. I keep a list of books I read on <a href="https://www.goodreads.com/user/show/13527692-robert-basic">GoodReads</a>.
                </p>

            </div>

            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
