{{ partial "header.html" . }}

<section class="section content">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">

                <h1>Hi!</h1>

                <p>
                I'm Robert, a software engineer who helps businesses grow by translating business rules and decisions to fast, stable and secure web applications.
                I specialize in testing and modernizing legacy applications and have experience in leading developer teams and doing code reviews.
                </p>

                <p>
                In my spare time I <a href='https://github.com/robertbasic'>contribute</a> to open source projects, <a href='https://www.goodreads.com/user/show/13527692-robert-basic'>read books</a> and play board games.
                </p>

                <p>
                On my <a href="/blog">blog</a> you can read what I'm learning, experimenting with and thinking.
                </p>

                <h2 id="hire-me">Let's work together!</h2>

                <p>
                I work in a remote team of three software engineers offering outsourcing and consulting services, leadership of development teams and code reviews.
                </p>

                <p>
                We manage everything from application architecture to infrastructure. The projects we deliver are documented, covered with tests, with automated provisioning of local development virtual machines and production servers.
                </p>

                <p>
                My contact details:
                </p>

                <div class="box">
                    <dl id="my_contact">
                        <dt>Name:</dt>
                        <dd>Robert Basic</dd>
                        <dt>E-mail:</dt>
                        <dd><a href="mailto:contactme@robertbasic.com">contactme@robertbasic.com</a></dd>
                        <dt>Github:</dt>
                        <dd><a href="https://github.com/robertbasic">View my profile</a></dd>
                        <dt>LinkedIn:</dt>
                        <dd><a href="http://www.linkedin.com/in/robertbasic">View my profile</a></dd>
                        <dt>Twitter:</dt>
                        <dd><a href="http://twitter.com/robertbasic">Follow me</a></dd>
                    </dl>
                </div>

            </div>

            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
