{{ partial "header.html" . }}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1>Archives for {{ .Date.Format "January, 2006" }}</h1>

                {{ range (.Paginator 5).Pages }}
                {{ partial "post.html" . }}
                {{ end }}

                {{ partial "pagination.html" . }}

            </div>

            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
