body {
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

.navbar, .navbar .brand {
    color:#F7E98C; 
}

.navbar-inner {
    background-color: #161D32;
    background-image: -moz-linear-gradient(top, #272E54, #161D32);
    background-image: -ms-linear-gradient(top, #161D32, #161D32);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#161D32), to(#161D32));
    background-image: -webkit-linear-gradient(top, #161D32, #161D32);
    background-image: -o-linear-gradient(top, #161D32, #161D32);
    background-image: linear-gradient(top, #161D32, #161D32);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #F7E98C;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #F7E98C;
}
