body {
    background: #EAECF4;
    color: #000000;
    font-family: 'Georgia', serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #000000;
}

a {
    text-decoration: none;
    color: #23527C;
}

a:hover {
    text-decoration: underline;
}

acronym {
    border-bottom: 1px dotted #23527C;
}

blockquote {
    border-left: 1px solid #23527C;
    margin: 0 20px 20px 20px;
    padding-left: 20px;
    display: block;
}

#page {
    float: none;
    margin: 0 auto;
}

#top h1{
    margin: 40px 0 20px 0;
    text-align: center;
}

#sidebar {
    font-size: 14px;
}

#sidebar li {
    list-style: none;
}

#about {
    text-align: center;
}

#about p {
    font-size: 16px;
}

.Zend_Tag_Cloud {
    margin-left: 40px;
}

#footer {
    text-align: center;
    font-size: 80%;
    margin: 10px 10px;
    padding: 10px 0;
    border-top: 1px solid #6C7388;
}

.entry_details {
    border-bottom: 1px solid #6C7388;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 80%;
    text-align: right;
}

.post {
    margin: 0 0 60px;
    text-align: left;
    border-bottom: 1px solid #6c7388;
}

.no-bottom-border {
    border-bottom:none;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.navigation {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 80%;
}

.navigation a{
    text-align: center;
    padding: 5px 10px;
    margin: 0 2px 0 2px;
    border: 1px solid #6C7388;
}

.navigation a:hover {
    background: #FFFFFF;
}

.current{
    background: #FFFFFF;
}

.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#my_contact{
    font-size: 90%;
    text-align: left;
    color: #000000;
    margin: 0 50px 20px 50px;
    padding: 5px;
    border: 1px solid #6c7388;
    border-radius: 5px;
}

#my_contact dd{
    margin: 0 0 0 30px;
    color: #000000;
}

pre {
    background: none !important;
    color: #8d95aa;
    border: none;
}

code {
    background: #FFFFFF;
}

div.old_entry_warn {
    font-size: 90%;
    text-align: left;
    background: #23527C;
    color: #FFFFFF;
    margin: 0 50px 20px 50px;
    padding: 5px;
    border: 1px solid #6c7388;
    border-radius: 5px;
}

div.highlight {
    border-radius: 0 0 4px 4px;
}

div.filename {
    background: #FFFFFF !important;
    padding: 0 0;
    margin: 10px 0 -10px 0;
    color: #c7254e;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    border: #272822 solid 1px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
