{{ partial "header.html" . }}

<section class="section content">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">

                <div class="post">
                    <h1>
                        Talks
                    </h1>
                    <div class="entry">
                        <p>Another way I like to share knowledge is by giving talks. If you'd like to hear one of these talks at your local user group, conference, or company, please get in touch by sending an email to <a href="mailto:contactme@robertbasic.com">contactme@robertbasic.com</a>!</p>
                        <ul>
                            <li><a href="#all-aboard-the-service-bus">All aboard the Service Bus</a></li>
                            <li><a href="#build-your-career-one-contribution-at-a-time">Build your career one contribution at a time</a></li>
                            <li><a href="#introddduction">introDDDuction</a></li>
                            <li><a href="#easier-mocking-with-mockery">Easier mocking with Mockery</a></li>
                            <li><a href="#code-profiling-with-xdebug-and-kcachegrind">Code profiling with Xdebug and KCachegrind</a></li>
                        </ul>
                    </div>
                </div>

                <div class="post">
                    <h1>
                        <a title="All aboard the Service Bus" id="all-aboard-the-service-bus">All aboard the Service Bus</a>
                    </h1>
                    <div class="entry">
                        <p>We deal with complicated and complex applications on a daily basis, codebases that are filled with classes that do too many things. One design pattern that can help us with this is CQRS, Command Query Responsibility Seggregation. The idea behind CQRS is to split our models in two - the Command for writing, and the Query for reading. Applying CQRS can lead us to a more maintainable code, code that follows the SOLID principles more closely.</p>
                        <p>At the heart of CQRS lies the Service Bus - a transport mechanism responsible for dispatching our command, event, and query messages to their destinations.</p>
                        <p>This talk will give an overview of the CQRS pattern and take a closer look at the different types of service buses - command, event, and query ones. Main takeaway will be practical information on why, when, and how to use them, with emphasis on their differences. We'll also take a look at some of the PHP libraries out there that help us work with service buses like Prooph Service Bus, Simple Bus, Tactician, to name a few.</p>
                    </div>
                </div>

                <div class="post">
                    <h1>
                        <a title="Build your career one contribution at a time" id="build-your-career-one-contribution-at-a-time">Build your career one contribution at a time</a>
                    </h1>
                    <div class="entry">
                        <p>You can often hear things like:</p>
                        <ul>
                            <li>"You should start contributing to an open source project!"</li>
                            <li>"Why don't you just send a pull request?"</li>
                            <li>"Doing OSS stuff will be great for your career."</li>
                        </ul>
                        <p>from experienced developers.</p>
                        <p>While indeed it can be a great for a programmer's career, going down the open source contributor's path can be daunting. As a seasoned open source contributor, I'd like to share some tips and tricks on how to become a contributor, and how you and your company can benefit from it.</p>
                        <p>I want to show that there's much more to contributing than "just" sending pull requests — answering questions, blogging, testing, and more, are all important parts of open source contributions.</p>
                    </div>
                </div>

                <div class="post">
                    <h1>
                        <a title="introDDDuction" id="introddduction">introDDDuction</a>
                    </h1>
                    <div class="entry">
                        <p>Our clients come to us to solve their problems using software. We listen to their pitch, we read their emails, have a meeting or two, and then we take out our favourite code editor, framework and database, and start pounding at the keyboard. Few weeks, months later, we come back with a solution to all of their problems. Or is it, really?</p>
                        <p>Our solutions should be driven by our clients and what they really need. We need to listen to them, talk to them, understand them.</p>
                        <p>This presentation will show why we should become better communicators, and how we can use Domain Driven Design to bridge this communication gap. Creating an ubiquitous language that we share with our clients, we model their world in ours. These models live in bounded contexts, made out of aggregate roots, domain events, entities, value objects, that are all here to guide us to create better solutions, and write better software.</p>
                    </div>
                </div>

                <div class="post">
                    <h1>
                        <a title="Easier mocking with Mockery" id="easier-mocking-with-mockery">Easier mocking with Mockery</a>
                    </h1>
                    <div class="entry">
                        <p>A slow suite of unit tests can prevent us from running it frequently. A complicated and complex dependency graph of our system under test can prevent us from writing tests in the first place.</p>
                        <p>One way to tackle these problems is to create test doubles with Mockery, a mock object framework, that will stand in for these dependencies and ensure a faster test suite.</p>
                        <p>This talk will give an overview of test doubles - fakes, stubs, mocks, and spies - and how to use Mockery to create them. We'll learn about handling method calls, matching arguments, mocking static instances and hard dependencies. All that regardless of the testing framework of your choice - Mockery is here to help.</p>
                    </div>
                </div>

                <div class="post">
                    <h1>
                        <a title="Code profiling with Xdebug and KCachegrind" id="code-profiling-with-xdebug-and-kcachegrind">Code profiling with Xdebug and KCachegrind</a>
                    </h1>
                    <div class="entry">
                        <p>An intuitive user interface, good design, useful features, are all focused on providing the best experience to the users of our applications. An equaly important, but often neglected, aspect of the user experience is the speed of the application. It affects how users see the company behind the application and has direct impact on the conversion rate of web sites. It can make or break a business.</p>

                        <p>Profiling tools are here to help us identify the performance issues, to find the points when and where our applications eat up the CPU and start leaking memory.</p>

                        <p>We'll look at a handful of tools that are at our disposal: Xdebug, KCachegrind, xhprof, Blackfire.io, Tideways.io. A more in-depth example will show how Xdebug and KCachegrind were used to solve real-world performance issues, teaching the audience the basics of profiling web applications, as well as providing tips and advice on how to quickly become productive using these two tools.</p>
                    </div>
                </div>

            </div>

            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
