{{ partial "header.html" . }}

<div class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="relative px-4 sm:px-6 lg:px-8 mb-16">
            <div class="text-lg prose lg:prose-xl prose-indigo mx-auto">
                <h1>
                    <a href="{{ .Permalink }}"
                        class="mt-2 block text-3xl leading-8 font-extrabold tracking-tight no-underline sm:text-4xl" style="text-decoration: none;">{{ .Title }}</a>
                </h1>
            </div>
            <div class="mt-6 prose prose-indigo lg:prose-xl text-gray-500 mx-auto">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}